@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1.1;
    height: 100vh;
}
ul{
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    position: fixed;
}
ul li{
    list-style: none;
    display: inline;
    position: relative;
    margin: 20px;
    padding: 50px;
    color: white;
}
ul li a{
    text-decoration: none;
    color: white;
}
#button1{
    background-color: #23A6F0;
    padding: 15px;
    border: none;
    font-size: 10px;
    color: white;
}
h1{
    color: white;
  text-align: center;
  padding-top: 250px;
  font-size: 50px;
}
header>.heading>.slogan>p{
text-align: center;
color: white;
font-size: 20px;
margin-top: 25px;
}
header>.heading>.slogan>.buttons{  
    padding-left: 800px;
    margin-top: 50px;
    
}
#button2{
    background-color: #23A6F0;
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
}
#button3{
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
    background-color: none;
}
.sections{
display: inline-flex;
padding-left: 350px;
margin-top: -80px;
}
.section1{
    width: 200px;
  border: none;
  padding: 50px;
  margin: 20px;
  background-color: white;
}
.section2{
    width: 200px;
  border: none;
  padding: 50px;
  margin: 20px;
  background-color: white;
}
.section3{
    width: 200px;
  border: none;
  padding: 50px;
  margin: 20px;
  background-color: #23A6F0;
}
.sec{
    display: inline-flex;
    padding-top: 200px;
}
.sec1{
    padding-left: 400px;
}
.sec2{
    padding-left: 200px;
}
.sec3{
    padding-left: 200px;
}
.heading2{
    padding-top: 200px;
    text-align: center;
}
.sect{
    display: inline-flex;
    padding-top: 200px;
    padding-left: 200px;
}
.sect1{
    box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
    width: 300px;
  border: none;
  padding: 50px;
  margin-left: 20px;
  text-align: center;
}
.sect2{
    box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
    width: 300px;
  border: none;
  padding: 50px;
  margin-left: 100px;
  text-align: center;
}
.sect3{
    box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
    width: 300px;
  border: none;
  padding: 50px;
  margin-left: 100px;
  text-align: center;
}
.images{
    padding-top: 400px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px; 
}
.textbox{
    text-align: center;
    padding-top: 100px;
}
.heading3{
    text-align: center;
    padding-top: 180px;
}
.payments{
    padding-top: 100px;
    padding-left: 400px;
    display: flex;
    margin-left: 50px;
}
.FREE{
    border: 2px solid #23A6F0;
    border-radius: 2%;
    width: 150px;
    height: 400px;
    padding: 50px;
}
.paragraph1{
    padding-top: 20px;
}
.zero{
color: #23A6F0;
padding-top: 20px;
}
ul li{
    
}

.button4{
    padding-top: 20px;
}
.STANDARD{ 
    border: 2px solid #23A6F0;
    border-radius: 2%;
    width: 150px;
    height: 430px;
    margin-top: -30px;
    padding: 50px;
    background-color: #252B42;
}
.paragraph2{
    padding-top: 20px;
}
.nine{
color: #23A6F0;
padding-top: 20px;
}
ul li{
    
}

.button5{
    padding-top: 20px;
}
.PREMIUM{
    border: 2px solid #23A6F0;
    border-radius: 3%;
    width: 150px;
    height: 400px;
    padding: 50px;
}
.paragraph3{
    padding-top: 20px;
}
.ninety{
color: #23A6F0;
padding-top: 20px;
}
ul li{
    
}

.button6{
    padding-top: 20px;
}
.secton6{
background-color: #252B42;
display: inline-flex;
padding-top: 20px;
margin-left: 50px;
}
.heading4 .paragraaph4{
padding: 20px;
}
