@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@media (min-width:576px){
    .left, .main, .right {
        width: 100%; /* The width is 100%, when the viewport is 576px or smaller */
    }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
header{
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
ul{
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    position: fixed;
}
ul li{
    list-style: none;
    display: inline;
    position: relative;
    margin: 20px;
    padding: 50px;
    color: white;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul li .login{
    padding-left: 20px;
}
#button1{
    background-color: #23A6F0;
    padding: 15px;
    width: 150px;
    border: none;
    font-size: 10px;
    color: white;
}
h1{
    color: white;
  text-align: center;
  padding-top: 250px;
  font-size: 50px;
}
header>.heading>.slogan>p{
text-align: center;
color: white;
font-size: 20px;
margin-top: 25px;
}
header>.heading>.slogan>.buttons{  
    padding-left: 750px;
    margin-top: 50px;
    
}
#button2{
    background-color: #23A6F0;
    padding: 12px;
    width: 150px;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
}
#button3{
    padding: 12px;
    color: white;
    border: 2px solid;
    width: 150px;
    border-radius: 30px;
    margin-right: 10px;
    background-color: #838c8f00;
}
.sections{
display: inline-flex;
padding-left: 400px;
margin-top: -60px;
}
.section1{
    width: 300px;
    height: 200px;
  border: 2px solid white;
  padding: 20px;
  margin: 20px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section1>img{
  margin-left: -50px;
  margin-left: -20px;
    width: 100px;
}
.section2{
    width: 300px;
    height: 200px;
  padding: 20px;
  margin: 20px;
  background: white;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section2>img{
    margin-left: -50px;
    margin-left: -20px;
    width: 100px;
  }
.section3{
    width: 300px;
    height: 200px;
  padding: 20px;
  margin: 20px;
  background: #23A6F0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section3>img{
    margin-left: -20px;
    width: 80px;
    height: 60px;
  }
.sec{
    display: flex;
    padding-top: 200px;
}
.sec1{
    padding-left: 450px;
    text-align: center;
}
.sec2{
    padding-left: 100px;
    text-align: center;
}
.sec3{
    padding-left: 100px;
    text-align: center;
}
.sec3> img{
width: 200px;
height: 130px;
}
.heading2{
    padding-top: 200px;
    text-align: center;
}
.heading2 h2{
    font-size: 30px;
}
.heading2 p{
    padding-top: 5px;
}
.sect{
    display: inline-flex;
    padding-top: 200px;
    padding-left: 250px;
}
.sect1{
    width: 400px;
    height: 680px;
    border: 1px solid rgb(199, 189, 189);
  padding: 50px;
  margin-left: 20px;
  text-align: center;
}
.sect2{
    width: 400px;
    height: 680px;
  border: 1px solid rgb(199, 189, 189);
  padding: 50px;
  margin-left: 100px;
  text-align: center;
}
.sect3{
    width: 400px;
    height: 680px;
    border: 1px solid rgb(199, 189, 189);
  padding: 50px;
  margin-left: 100px;
  text-align: center;
}
.images{
    padding-top: 400px;
    display: flex;
    justify-content: space-between;
    padding-left: 170px;
    padding-right: 170px; 
}
.textbox{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-image: linear-gradient(to right,rgb(56, 56, 153),rgb(179, 49, 114));
    margin: 200px;
    margin-top: 150px;
    background-color: rgb(55, 55, 155);
   
}
.textbox .news> h3{
    color: white;
    font-size: 25px;
padding-left: 20px;
}
.textbox .f> form> #fname{
    margin-left: 800px;
    padding-bottom: 15px;
width: 200px;
padding: 15px;
}
.textbox .f> form> #submit{
    padding: 15px;
width: 100px;
background-color: #23A6F0;
border: none;
}
.heading3{
    text-align: center;
    padding-top: 2px;
    font-size: 20px;
}
.payments{
    padding-top: 100px;
    padding-left: 400px;
    display: flex;
    margin-left: 40px;
}
.FREE{
    border: 2px solid #23A6F0;
    border-radius: 2%;
    width: 300px;
    height: 600px;
    padding: 50px;
    text-align: center;
}
.paragraph1{
    padding-top: 20px;
    text-align: center;
}
.zero{
color: #23A6F0;
padding-top: 20px;
}
.zero strong{
    font-size: 30px;
}
.list1{
    padding-top: 20px;
}
.list1>span{
    color: black;
}
.list1>img{
    width: 30px;
    height: 30px;
}
.payments .FREE #button4 button{
    padding: 20px;
    width: 200px;
    background: #23A6F0;
    margin-top: 50px;
     border: none;
     border-radius: 2px;
     color: white;
}
.STANDARD{ 
    border: 2px solid #23A6F0;
    border-radius: 2%;
    width: 300px;
    height: 630px;
    margin-top: -30px;
    padding: 50px;
    background-color: #252B42;
    color: white;
    text-align: center;
}
.paragraph2{
    padding-top: 20px;
    color: white;
    text-align: center;
}
.nine{
color: #23A6F0;
padding-top: 20px;
}
.nine strong{
    font-size: 30px;
}
.list2{
    padding-top: 20px;
}
.list2>span{
    color: white;
}
.list2>img{
    width: 30px;
    height: 30px;
}
.payments .STANDARD #button5 button {
    padding: 20px;
    width: 200px;
    background: #23A6F0;
    margin-top: 50px;
     border: none;
     border-radius: 2px;
     color: white;
}
.PREMIUM{
    border: 2px solid #23A6F0;
    border-radius: 3%;
    width: 300px;
    height: 600px;
    padding: 50px;
    text-align: center;
}
.paragraph3{
    padding-top: 20px;
    text-align: center;
}
.ninety{
color: #23A6F0;
padding-top: 20px;
}
.ninety strong{
    font-size: 30px;
}
.list3{
    padding-top: 20px;
}
.list3>span{
    color: black;
}
.list3>img{
    width: 30px;
    height: 30px;
}
.payments .PREMIUM #button6 button {
    padding: 20px;
    width: 200px;
    background: #23A6F0;
    margin-top: 50px;
     border: none;
     border-radius: 2px;
     color: white;
}
.section6{
background-color: #252B42;
background-size: cover;
padding-top: 50px;
margin-top: 150px;
margin-left: 150px;
width: 1400px;
height: 700px;
}
.heading4{
padding: 100px;
color: white;
font-size: 35px;
}
.paragraph4{
    font-size: 15px;
    padding-top: 20px;
    color: white;
}
.clouds{
    float: right;
   margin-top: -200px;
  margin-left: 800px;

}
.section7{
    display: flex;
    padding-left: 700px;
    margin: -200px;
  height: 500px;
  width: 1500px;
}
.form{
   padding-left: 50px;
    border: 2px solid white;
    background-color: white;
    width: 400px;
    font-size: 20px;
    height: 500px;
    padding-top: 50px;
}
.fill{
  float: left;
    justify-content: space-between;
}
.appointment{
    background-color: #23A6F0;
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 3px;
    width: 300px;
   text-align: center;
}
.consult{
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 250px;
}
.button7{
    background-color: #23A6F0;
    color: white;
    float: right;
    font-size: 20px;
    padding: 10px;
}
.abouts{
    display: flex;
    flex-direction: row;
    text-decoration: none;
list-style: none;
justify-content: space-between
font-size: 20px;
padding-top: 50px;
}
.abouts1{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 50px;
}
.last{
    justify-content: center;
    padding: 30px;
    font-size: 20px;


}
